*.[oa]
*~
*.tar.gz
\#*
.*
INSTALL
ChangeLog
confscript.sh
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
doc
src/Makefile
src/Makefile.in
m4
*.m4
trash_build.sh
cosfitter
cosfitter-twoscriptm
special_versions/
